body {
	margin: 0;
	font-family: "Urbanist", sans-serif;
	font-size: 20px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	/* background: #042f5a; */
	background-repeat: no-repeat;
	

}
section {
	color: white;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 200px;
	padding: 5vh 5vw 0px 5vw;
}

.intro {
	background-image: url('./images/background3.png');
	aspect-ratio: 2300/1080;
	background-position: center;
	background-size: cover;
	padding: 5vh 15vw 0px 5vw;

}

.deepBlue {
	background: #0149b4;
}

.red {
	background: #c62368;
}

.purple {
	background: #5646ba;
}
.spacer {
	aspect-ratio: 900/100;
	width: 100%;
	background-image: no-repeat;
	background-position: center;
	background-size: cover;
}

.rotate {
	transform: rotate(180deg);
}

.layer1 {
	background-image: url("./images/layered-waves1.svg");
}

.layer2 {
	background-image: url("./images/layered-waves2.svg");
}

.layer3 {
	background-image: url("./images/layered-waves3.svg");
}

.myPhoto {
	border-radius: 25%;

}
